@import '../index.scss';
.tabs {
  :global {
    .#{$ant-prefix}-tabs-nav {
      margin: 0;

      &:before {
        border: none;
      }
    }

    .#{$ant-prefix}-tabs-tab-btn {
      font-size: 20px;
      font-weight: bold;
    }

    .#{$ant-prefix}-tabs-tab:hover {
      color: #52cca3;
    }

    .#{$ant-prefix}-tabs-tab-active .#{$ant-prefix}-tabs-tab-btn {
      color: #52cca3;
    }

    .#{$ant-prefix}-tabs-ink-bar {
      background: #52cca3;
    }
  }
}
