.table {
    margin-top: 28px;

    // :global(.ant-table-tbody>tr>td) {
    //     padding: 22px 16px !important
    // }
    :global(.tablePagination) {
        position: relative;

        li {
            &:first-child {
                position: absolute;
                left: 0;
            }
        }
    }

    :global(.ant-table-body) {
        height: 564px !important;
    }

    :global(.ant-pagination-item-active) {
        background-color: #52CCA3;
        border-color: #52CCA3;

        a {
            color: #FFFFFF;
        }
    }

    :global(.ant-pagination-item:hover) {
        border-color: #52CCA3;
    }
    :global(.ant-descriptions-item){
        padding-bottom:0
    }
}
