.table {
    margin-top: 28px;

    // :global(.ant-table-tbody>tr>td) {
    //     padding: 22px 16px !important
    // }
    :global(.tablePagination) {
        position: relative;

        li {
            &:first-child {
                position: absolute;
                left: 0;
            }
        }
    }

    :global(.ant-table-body) {
        height: 564px !important;
    }

    :global(.ant-pagination-item-active) {
        background-color: #52CCA3;
        border-color: #52CCA3;

        a {
            color: #FFFFFF;
        }
    }

    :global(.ant-pagination-item:hover) {
        border-color: #52CCA3;
    }

    :global(.ant-btn-link) {
        color: #52CCA3;
    }
}
.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }