@import '../index.scss';
:global{
    .myantd {
        .#{$ant-prefix}-radio-checked{
            &::after{
                border: 1px solid #52CCA3
            }
        }
        .#{$ant-prefix}-radio-checked {
            .#{$ant-prefix}-radio-inner{
                border-color: #52CCA3;
            }
        }
        .#{$ant-prefix}-radio-inner{
            &::after{
                background-color: #52CCA3;
            }
        }
    }
}