@import '../index.scss';
.radio {
  :global {
    .#{$ant-prefix}-radio-checked {
      &::after {
        border: 1px solid #52cca3;
      }
    }
    .#{$ant-prefix}-radio-checked {
      .#{$ant-prefix}-radio-inner {
        border-color: #52cca3;
      }
    }
    .#{$ant-prefix}-radio-inner {
      &::after {
        background-color: #52cca3;
      }
    }
  }
}
