:global{
    .myantd {
        .ant-radio-checked{
            &::after{
                border: 1px solid #52CCA3
            }
        }
        .ant-radio-checked {
            .ant-radio-inner{
                border-color: #52CCA3;
            }
        }
        .ant-radio-inner{
            &::after{
                background-color: #52CCA3;
            }
        }
    }
}