@import '../index.scss';

.search {
  margin-top: 14px;

  .#{$ant-prefix}-form-item {
    .#{$ant-prefix}-input {
      border-radius: 6px;
    }

    .#{$ant-prefix}-select-selector {
      border-radius: 4px;
    }
  }
}
