@import 'antd/lib/badge/style';

:global {
    .ant-badge-status-dot {
        width: 12px;
        height: 12px;
    }
    .ant-badge-status-default{
        background: #CCCCCC;
    }
    .ant-badge-status-success{
        background: #52CCA3;
    }
}

.mybadge {}